name: Build and Publish

on:
  # run it on push to the default repository branch
  push:
    branches: [main]  
  
  
jobs:
  build-push-gcr:
    name: Build and Push to GCP
    runs-on: ubuntu-latest
    env:
      IMAGE_NAME: europe-north1-docker.pkg.dev/demoglobalit-monitoring/demo
      PROJECT_ID: demoglobalit-monitorin
    steps:
    - name: Checkout
      uses: actions/checkout@v2

    - id: 'auth'
      name: 'Authenticate to Google Cloud'
      uses: 'google-github-actions/auth@v0'
      with:
        credentials_json: '${{ secrets.REPO }}'
    
    - name: Configure Docker Client
      run: |-
        gcloud auth configure-docker --quiet
        gcloud auth configure-docker europe-north1-docker.pkg.dev --quiet
    
    - name: Build Docker Image
      run: docker build -t $IMAGE_NAME:${GITHUB_SHA::7} .
    
    - name: Build Docker PUSH
      run: docker push $IMAGE_NAME:${GITHUB_SHA::7} 
    

